
<div class="input-group mb-5">
    <input type="text" class="form-control" id="Contbuscar" name="Contbuscar" placeholder="Buscar...">
    <button class="btn btn-primary" id="btnBuscar">Buscar</button>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Mascota</th>
                <th>Padrino</th>
                <th>Monto</th>
                <th>Causa</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyApoyo"></tbody>
    </table>
</div>









